@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Mission6_Hendrickson
@model MovieModel

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
</div>

<div>
    <ul>
        <li>Joel is very funny! He performs regularly at: <a href="https://www.qwcomedy.com/ ">Quick Wits Commedy</a></li>
        <li>Joel loves pop culture! You can get some of his takes at: <a href="https://baconsale.com/  ">Baconsale</a></li>
        <li>Here's one of his best Baconsale posts: <a href="https://byu.box.com/s/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4 ">Post!</a></li>
    </ul>
    
</div>