@{
}
@using Mission6_Hendrickson
@model MovieModel

<div class="text-center">
    <h1 class="display-4">Enter a Movie Into the Collection</h1>
</div>

<form method="post">
    <label asp-for="MovieCategory">Movie Category: </label>
    <input asp-for="MovieCategory" />
    <br />
    <label asp-for="MovieTitle">Movie Title: </label>
    <input asp-for="MovieTitle" />
    <br />
    <label asp-for="Year">Year Released: </label>
    <input asp-for="Year" />
    <br />
    <label asp-for="Director">Director: </label>
    <input asp-for="Director" />
    <br />
    <label asp-for="Rating">Movie Rating: </label>
    <select asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG13">PG13</option>
        <option value="R">R</option>
    </select>
    <br />
    <label asp-for="MovieEdit">Was the Movie Edited? </label>
    <select asp-for="MovieEdit">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <label asp-for="LentTo">Who was this Movie Lent to? (optional)</label>
    <input asp-for="LentTo" />
    <br />
    <label asp-for="Notes">Notes: (optional)</label>
    <input asp-for="Notes" />
    <br />
    <button type="submit">Submit Movie</button>
</form>